apiVersion: apps/v1
kind: Deployment
metadata:
  name: todo-deployment
  labels:
    app: todo
spec:
  replicas: 2
  selector:
    matchLabels:
      app: todo
  template:
    metadata:
      labels:
        app: todo
    spec:
      containers:
        - name: auth
          image: raichu08/todo-service:v2
          env:
            - name: PORT
              valueFrom:
                configMapKeyRef:
                  name: todo-config-todo
                  key: PORT
            - name: DB_HOST
              valueFrom:
                configMapKeyRef:
                  name: todo-config-todo
                  key: DB_HOST
            - name: DB_PORT
              valueFrom:
                configMapKeyRef:
                  name: todo-config-todo
                  key: DB_PORT
            - name: DB_NAME
              valueFrom:
                configMapKeyRef:
                  name: todo-config-todo
                  key: DB_NAME
            - name: DB_USER
              valueFrom:
                secretKeyRef:
                  name: todo-secret
                  key: DB_USER
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: todo-secret
                  key: DB_PASSWORD
            - name: JWT_SECRET
              valueFrom:
                secretKeyRef:
                  name: todo-secret
                  key: JWT_SECRET
            - name: AUTH_SERVICE_URL
              value: "http://auth-service:3001"

